# languages
rust 1.71.0
golang 1.20.6
nodejs 20.12.2
bun 1.1.3
python 3.11.9
dotnet 8.0.100
ruby 3.3.0
java temurin-17.0.8+7
stack 2.11.1  # haskell

# install_appsec
shellcheck 0.10.0
hadolint 2.12.0
trivy 0.50.1

# install_aws
awscli 2.15.40
aws-vault 7.2.0

# install_azure
azure-cli 2.59.0

# install_gcloud
gcloud 472.0.0

# install_terraform
terraform 1.8.1
tfsec 1.28.5

# install_k8sdev
kubectl 1.30.0
krew 0.4.4
helm 3.14.4
k9s 0.32.4

# install_cloudflare
cloudflared 2024.4.0

# install_flyctl
flyctl 0.2.40
