GOOSE_PROVIDER: openrouter
GOOSE_MODEL: google/gemini-3-pro-preview
GOOSE_TEMPERATURE: 0.0

GOOSE_MAX_TURNS: 10
CONTEXT_FILE_NAMES:
  - .goosehints
  - AGENTS.md
  - CLAUDE.md
  - GEMINI.md
GOOSE_CLI_THEME: dark
GOOSE_RANDOM_THINKING_MESSAGES: false
GOOSE_CLI_SHOW_COST: true
GOOSE_AUTO_COMPACT_THRESHOLD: 0.8 # 0.0-1.0 when to summarize - default: 0.8

GOOSE_MODE: auto # how to handle tool execution - default: smart_approve
GOOSE_CLI_MIN_PRIORITY: 0.5 # verbosity of tool output - default: 0.0

GOOSE_RECIPE_GITHUB_REPO: block/goose-recipes
ALPHA_FEATURES: false # https://block.github.io/goose/docs/experimental/

extensions:
  computercontroller:
    available_tools: []
    bundled: true
    description: null
    display_name: Computer Controller
    enabled: false
    name: computercontroller
    timeout: 300
    type: builtin
  developer:
    available_tools: []
    bundled: true
    description: null
    display_name: Developer Tools
    enabled: false
    name: developer
    timeout: 300
    type: builtin
  memory:
    available_tools: []
    bundled: true
    description: null
    display_name: Memory
    enabled: false
    name: memory
    timeout: 300
    type: builtin
  todo:
    available_tools: []
    bundled: true
    description: Enable a todo list for Goose so it can keep track of what it is doing
    enabled: false
    name: todo
    type: platform
  chatrecall:
    available_tools: []
    bundled: true
    description: Search past conversations and load session summaries for contextual memory
    enabled: false
    name: chatrecall
    type: platform
  extensionmanager:
    available_tools: []
    bundled: true
    description: Enable extension management tools for discovering, enabling, and disabling extensions
    enabled: false
    name: Extension Manager
    type: platform
