[tools]
# terminal
atuin = { version = 'latest', postinstall = "~/.local/configent/bin/postinstall_atuin" }
bat = { version = 'latest', postinstall = "~/.local/configent/bin/postinstall_bat" }
carapace = 'latest'
delta = 'latest'
fd = 'latest'
fzf = 'latest'
gitui = 'latest'
jq = 'latest'
lsd = 'latest'
ripgrep = 'latest'
starship = { version = '1.24.0', postinstall = "~/.local/configent/bin/postinstall_starship" }
tmux = { version = '3.6a', postinstall = "~/.local/configent/bin/postinstall_tmux" }
#upt = { version = 'latest', postinstall = "sudo ln -sfnv ~/.local/share/mise/shims/upt /usr/local/bin/upt" }
viddy = 'latest'
watchexec = 'latest'
xh = 'latest'
yq = 'latest'
zoxide = 'latest'
'aqua:neovim/neovim' = { version = 'latest', postinstall = "~/.local/configent/bin/postinstall_neovim" }
'aqua:pranshuparmar/witr' = 'latest'
'github:bootandy/dust' = 'latest' # no linux-aarch64 in aqua:bootandy/dust
'github:printfn/fend' = 'latest'
'github:Skardyy/mcat' = 'latest'
'github:railwayapp/nixpacks' = 'latest'
'github:ouch-org/ouch' = 'latest'
'github:sharkdp/pastel' = 'latest'
'github:jacek-kurlit/pik' = 'latest'
'github:dalance/procs' = 'latest'
'github:abhimanyu003/sttr' = 'latest'
'github:topgrade-rs/topgrade' = { version = 'latest', postinstall = "~/.local/configent/bin/postinstall_topgrade" }
'github:max-sixty/worktrunk' = 'latest'
'pipx:glances' = { version = 'latest', extras = "containers,gpu,web,wifi" }
'pipx:sncli' = { version = 'latest', postinstall = "~/.local/configent/bin/postinstall_sncli" }
#'vfox:mise-plugins/vfox-clang' = '18.1.8'

# ai coding platforms
claude-code = { version = 'latest', postinstall = "~/.local/configent/bin/postinstall_claude-code" }
gemini-cli = { version = 'latest', postinstall = "~/.local/configent/bin/postinstall_gemini-cli" }
opencode = { version = 'latest', postinstall = "~/.local/configent/bin/postinstall_opencode" }

# ai coding harnesses
'github:asyrjasalo/dynamic-mcp' = 'latest'
#'github:njbrake/agent-of-empires' = { version = 'latest', bin = 'aoe' }
#'cargo:fossil-mcp' = 'latest'
'cargo:ralph-cli' = 'latest'
'npm:agent-browser' = 'latest'
'npm:@different-ai/opencode-browser' = 'latest'
'pipx:browser-use' = { version = 'latest', extras = 'cli', postinstall = "~/.local/configent/bin/postinstall_browser-use" }

# github
#act = { version = 'latest', postinstall = "~/.local/configent/bin/postinstall_act" }
github-cli = 'latest'
'github:dhth/act3' = 'latest'

# containers
#docker-cli = 'latest'
lima = '2.0.3' #{ version = '2.0.3', postinstall = "~/.local/configent/bin/setup_lima_vmnet" }
#podman = 'latest'
trivy = 'latest'
'github:tokuhirom/dcv' = 'latest'

# cloud
#awscli = 'latest'
#aws-copilot = 'latest'
#cloudflared = 'latest'
#gcloud = 'latest'
'pipx:azure-cli' = { version = 'latest', uvx_args = '--prerelease=allow --with pip', postinstall = "~/.local/configent/bin/postinstall_azure" } # pip is required for az extensions
#'pipx:cfn-lint' = 'latest'

# terraform
#terraform = '1.10.3'
#terraform-docs = 'latest'
#tflint = 'latest'
#tf-summarize = 'latest'
#'github:leg100/pug' = 'latest'
#'github:shihanng/tfvar' = 'latest'

# kubernetes
kubectl = 'latest'
kubecolor = 'latest'
#krew = { version = 'latest', postinstall = "krew install ctx ns" }
#helm = 'latest'

# network
doggo = 'latest'
hurl = 'latest'
lazyssh = 'latest'
'github:sigoden/opscan' = 'latest'
'github:karol-broda/snitch' = 'latest'
'github:ramonvermeulen/whosthere' = { version = 'latest', postinstall = "~/.local/configent/bin/postinstall_whosthere" }

# scripting
argc = 'latest'
ast-grep = 'latest'
prek = 'latest'
shellcheck = 'latest'
shfmt = 'latest'
'github:anordal/shellharden' = 'latest'

# powershell
powershell = { version = '7.5.4', postinstall = "~/.local/configent/bin/postinstall_pwsh" }

# rust
rust = '1.93.1'
cargo-binstall = 'latest'
'cargo:cargo-cache' = 'latest' # for topgrade
'cargo:cargo-update' = 'latest' # for topgrade
'cargo:kondo' = 'latest' # no linux-aarch64 release
'cargo:tailspin' = 'latest' # no linux-aarch64 release
'cargo:tlrc' = { version = 'latest', postinstall = "~/.local/configent/bin/postinstall_tlrc" } # no linux-aarch64 release

# go
go = '1.25.3'
'go:golang.org/x/tools/gopls' = 'latest'

# node.js
node = { version = '24.12.0', postinstall = "~/.local/configent/bin/postinstall_node" }
bun = 'latest'

# python
python = { version = '3.14.2', postinstall = "~/.local/configent/bin/postinstall_python" }
uv = 'latest'
'pipx:pdm' = 'latest'
'pipx:poetry' = 'latest'

# other languages
#dotnet = '10.0.103'
#ruby = '3.4.7'
#java = 'temurin-21'
#ghcup = { version = 'latest', postinstall = "ghcup install stack" }

[settings]
experimental = true
cargo.binstall = true
npm.bun = true
pipx.uvx = true
idiomatic_version_file_enable_tools = ["python", "node"]
trusted_config_paths = ["~/dev"]
