[tools]
# terminal
atuin = { version = 'latest', postinstall = "~/.local/configent/bin/postinstall_atuin" }
bat = { version = 'latest', postinstall = "~/.local/configent/bin/postinstall_bat" }
carapace = 'latest'
delta = 'latest'
duf = 'latest'
fd = 'latest'
fzf = 'latest'
gitui = 'latest'
hurl = 'latest'
jnv = 'latest'
jq = 'latest'
lsd = 'latest'
neovim = 'latest'
numbat = 'latest'
oxker = 'latest'
ripgrep = 'latest'
sd = 'latest'
starship = { version = '1.24.0', postinstall = "~/.local/configent/bin/postinstall_starship" }
tmux = { version = '3.6a', postinstall = "~/.local/configent/bin/postinstall_tmux" }
#upt = { version = 'latest', postinstall = "sudo ln -sfnv ~/.local/share/mise/shims/upt /usr/local/bin/upt" }
viddy = 'latest'
watchexec = 'latest'
xh = 'latest'
yq = 'latest'
zoxide = 'latest'
'github:orf/gping' = 'latest'
'github:Skardyy/mcat' = 'latest'
'github:railwayapp/nixpacks' = 'latest'
'github:sigoden/opscan' = 'latest'
'github:ouch-org/ouch' = 'latest'
'github:sharkdp/pastel' = 'latest'
'github:dalance/procs' = 'latest'
'github:abhimanyu003/sttr' = 'latest'
'github:topgrade-rs/topgrade' = { version = 'latest', postinstall = "~/.local/configent/bin/postinstall_topgrade" }
#'vfox:mise-plugins/vfox-clang' = '18.1.8'
'github:pranshuparmar/witr' = 'latest'

# scripting
argc = 'latest'
pre-commit = 'latest'
shellcheck = 'latest'
shfmt = 'latest'

# github
act = { version = 'latest', postinstall = "~/.local/configent/bin/postinstall_act" }
github-cli = 'latest'

# containers
#docker-cli = 'latest'
#dive = 'latest'
lima = '2.0.3' #{ version = '2.0.3', postinstall = "~/.local/configent/bin/setup_lima_vmnet" }
#podman = 'latest'
trivy = 'latest'

# cloud
awscli = 'latest'
#aws-copilot = 'latest'
#cloudflared = 'latest'
#gcloud = 'latest'

# terraform
#terraform = '1.10.3'
#terraform-docs = 'latest'
#terrascan = 'latest
#tflint = 'latest'
#tf-summarize = 'latest'

# kubernetes
#kubectl = 'latest'
#krew = { version = 'latest', postinstall = "krew install ctx ns" }
#k9s = 'latest'
#helm = 'latest'

# rust
rust = '1.90.0'
cargo-binstall = 'latest'
'cargo:cargo-cache' = 'latest' # for topgrade
'cargo:cargo-update' = 'latest' # for topgrade
'cargo:diskonaut' = 'latest' # no macos-arm64 release
'cargo:kondo' = 'latest' # no linux-aarch64 release
'cargo:tailspin' = 'latest' # no linux-aarch64 release

# go
go = '1.25.3'
'go:golang.org/x/tools/gopls' = 'latest'
'go:github.com/go-enry/enry' = 'latest'
#'go:github.com/shihanng/tfvar' = 'latest'

# node.js
node = { version = '24.12.0', postinstall = "~/.local/configent/bin/postinstall_node" }
bun = 'latest'
'npm:opencode-ai' = { version = 'latest', postinstall = "~/.local/configent/bin/postinstall_opencode" }
'npm:openskills' = 'latest'
'npm:@anthropic-ai/claude-code' = { version = 'latest', postinstall = "~/.local/configent/bin/postinstall_claude-code" }
'npm:@google/gemini-cli' = { version = 'latest', postinstall = "~/.local/configent/bin/postinstall_gemini-cli" }

# python
python = { version = '3.14.2', postinstall = "~/.local/configent/bin/postinstall_python" }
uv = 'latest'
'pipx:azure-cli' = { version = '2.68.0', uvx_args = '--python 3.11 --prerelease=allow --with pip', postinstall = "~/.local/configent/bin/postinstall_azure" } # pip is required for az extensions
'pipx:browser-use' = { version = 'latest', extras = 'cli', postinstall = "~/.local/configent/bin/postinstall_browser-use" }
#'pipx:cfn-lint' = 'latest'
'pipx:glances' = { version = 'latest', extras = "containers,gpu,web,wifi" }
#'pipx:gptme' = { version = 'latest', uvx_args = '--with gptme-rag', extras = 'all', postinstall = "~/.local/configent/bin/postinstall_gptme" }
'pipx:pdm' = 'latest'
'pipx:poetry' = 'latest'
'pipx:sncli' = { version = 'latest', uvx_args = '--python 3.11', postinstall = "~/.local/configent/bin/postinstall_sncli" }
'pipx:tldr' = 'latest'

# dotnet
dotnet = '8.0.415'
'dotnet:powershell' = { version = '7.4.13', postinstall = "~/.local/configent/bin/postinstall_pwsh" }

# other languages
#ruby = '3.4.7'
#java = 'temurin-21'
#ghcup = { version = 'latest', postinstall = "ghcup install stack" }

[settings]
experimental = true
cargo.binstall = true
npm.bun = true
pipx.uvx = true
idiomatic_version_file_enable_tools = ["python", "node"]
