[Desktop Entry]
Version=1.0
Name=Terminal
GenericName=Terminal
Exec=gnome-terminal
Terminal=false
Type=Application
Icon=utilities-terminal
Categories=System;TerminalEmulator;
StartupWMClass=gnome-terminal-server
