[Unit]
Description=org.freedesktop.secrets agent for pass
PartOf=graphical-session.target

[Service]
Type=dbus
BusName=org.freedesktop.secrets
ExecStart=/usr/local/bin/pass-secret-service
