[Unit]
Description=Xorg dummy :0

[Service]
User=__LUSER__
Group=__LUSER__
ExecStart=/usr/bin/Xorg :0 -noreset
Restart=on-failure

[Install]
WantedBy=graphical.target
